/* line 1, /Users/Katie/Desktop/WYNCODE/FinalProject/codeCollab./app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, /Users/Katie/Desktop/WYNCODE/FinalProject/codeCollab./app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 17, /Users/Katie/Desktop/WYNCODE/FinalProject/codeCollab./app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 23, /Users/Katie/Desktop/WYNCODE/FinalProject/codeCollab./app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 26, /Users/Katie/Desktop/WYNCODE/FinalProject/codeCollab./app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 30, /Users/Katie/Desktop/WYNCODE/FinalProject/codeCollab./app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 36, /Users/Katie/Desktop/WYNCODE/FinalProject/codeCollab./app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 40, /Users/Katie/Desktop/WYNCODE/FinalProject/codeCollab./app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 47, /Users/Katie/Desktop/WYNCODE/FinalProject/codeCollab./app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 52, /Users/Katie/Desktop/WYNCODE/FinalProject/codeCollab./app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 56, /Users/Katie/Desktop/WYNCODE/FinalProject/codeCollab./app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 62, /Users/Katie/Desktop/WYNCODE/FinalProject/codeCollab./app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 70, /Users/Katie/Desktop/WYNCODE/FinalProject/codeCollab./app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 81, /Users/Katie/Desktop/WYNCODE/FinalProject/codeCollab./app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 87, /Users/Katie/Desktop/WYNCODE/FinalProject/codeCollab./app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 1, /Users/Katie/Desktop/WYNCODE/FinalProject/codeCollab./app/assets/stylesheets/workspaces.scss */
#firepad-container {
  width: 50%;
  height: 50%;
  border: solid;
  border-radius: 3%;
}

/* line 8, /Users/Katie/Desktop/WYNCODE/FinalProject/codeCollab./app/assets/stylesheets/workspaces.scss */
#firechat-wrapper {
  height: 475px;
  max-width: 325px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 50px auto;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 25px #666;
  -moz-box-shadow: 0 5px 25px #666;
  box-shadow: 0 5px 25px #666;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


 html { height: 100%; }
 body { margin: 0; height: 100%; position: relative; }
