// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#languages_ {
  display: inline !important;
};

#firechat .firechat-dropdown-toggle.btn {
  font-size: 12px;
  padding-bottom: 35px;
};

#firechat .btn {
  height: 37px;
}

#firechat .caret {
  margin-top: 16px;
}

// .documentslist {
//   display: flex;
//   justify-content: center;
// }

.create {
  text-align: center;
}

#workspace:hover, #modalbutton:hover {
  color: #bdbdbd !important;
}

#workspace, #modalbutton {
  font-size: 13px !important;
}

#modalbutton, #black {
  color: black;
}

.notify:hover {
  color: #389da6 !important;
  background-color: #ffffff;
}

.notify {
  color: #4dd0e1 !important;
}

.col.s12.m6.l4 {
  border: 1px dotted #b2ebf2;
}

.delete-document {
  font-family: Avenir;
  color: #ff5252;
}

.delete-document:hover {
  color: #b71c1c;
  transition: color 0.5s ease;
}

.delete {
  color:#ff5252;
  font-family: Avenir;
}

.delete:hover {
  color: #b71c1c;
  transition: color 0.5s ease;
}

.open {
  color: #4dd0e1;
}

.open:hover {
  color: #0097a7;
  transition: color 0.5s ease;
}
