// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#languages_ {
  display: inline !important;
};

#firechat .firechat-dropdown-toggle.btn {
  font-size: 12px;
  padding-bottom: 35px;
};

#firechat .btn {
  height: 37px;
}

#firechat .caret {
  margin-top: 16px;
}
